<div ng-show="!Settings.data.content.autoPlay">
    <div class="setting-toggle">
    <p class="setting-label">
        Skip Info Page
        <span class="customTooltipBox btn-primary">
        <span class="customTooltipText">
            If the info page is skipped, the video URL will be prioritized.
        </span>
        </span>
    </p>
    <div class="buttons">
        <button ng-class="{'active': Settings.data.design.skipMediaPage}" ng-click="Settings.changeSkipPage(true)">On</button>
        <button class="toLeft" ng-class="{'active': !Settings.data.design.skipMediaPage}" ng-click="Settings.changeSkipPage(false)">Off</button>
    </div>
    </div>
</div>

<div class="setting-toggle">
    <p class="setting-label">
        Auto Play
        <span class="customTooltipBox btn-primary">
            <span class="customTooltipText">
                Allow items auto play, whin this option is on, it will skip info page by default.
            </span>
        </span>
    </p>
    <div class="buttons">
        <button ng-class="{'active': Settings.data.content.autoPlay}" ng-click="Settings.setAutoPlay(true)">On</button>
        <button class="toLeft" ng-class="{'active': !Settings.data.content.autoPlay}" ng-click="Settings.setAutoPlay(false)">Off</button>
    </div>
</div>
<div class="setting-toggle" ng-if="Settings.data.content.autoPlay">
    <p class="setting-label">
        Delay
        <span class="customTooltipBox btn-primary">
            <span class="customTooltipText">
                The delay before playing the next item.
            </span>
        </span>    
    </p>
    <div class="dropdown padding-zero" dropdown is-open="status.isOpen">
        <button 
            style="width: 200px;" 
            class="btn btn-default text-left dropdown-toggle" 
            dropdown-toggle
            aria-expanded="true">
            <span class="pull-left">{{Settings.data.content.autoPlayDelay.label || 'Off'}}</span>
            <span class="chevron icon-chevron-down pull-right"></span>
        </button>
        <ul class="dropdown-menu extended" role="menu">
            <li ng-repeat="option in Settings.autoPlayDelayOptions" ng-click="Settings.setAutoPlayDelay(option)">
                <a class="transition-third">{{option.label}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="setting-toggle">
    <p class="setting-label">
        Global Playlist Limit
        <span class="customTooltipBox btn-primary">
            <span class="customTooltipText">
                Limit how many items a user can add to the global playlist, 0 = unlimited
            </span>
        </span>
    </p>
    <div>
        <input style="width: 200px; height: 42px;" type="number" class="form-control" placeholder="Global Playlist Limit" ng-model="inputs.globalPlaylistLimit" ng-change="Settings.setGlobalPlaylistLimit()" />
    </div>
</div>